@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

main{
    background-color: rgba(0, 0, 0, 0.2);
    width: 90%;
    margin: 100px auto;
    padding: 10px;
    border-radius: 4px;
}

header{
    text-align: center;
    padding: 15px 0;
}

label{
    font-size: 1.2em;
    font-weight: bold;
}

input{
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 1em;
    border: 1px solid #000;
    border-radius: 4px;
}

button{
    width: 40%;
    display: block;
    margin: auto;
    font-size: 1.2em;
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 4px;
    transition: all 300ms ease;
    background-color: #FFF;
    color: #000;
}

button:hover{
    cursor: pointer;
    color: #FFF;
    background-color: #000;
}

input:focus{
    outline: 0;
}


@media (min-width: 600px){
    main{
        width: min(80%, 780px);
        min-height: 430px;
        padding: 20px 40px;
    }

    input{
        margin-bottom: 40px;
    }
}

@media (min-width: 1280px){
    main{
        padding: 20px 85px 40px;
        margin: 150px auto 0;
    }

    header{
        padding: 35px 0;
    }

    input{
        margin-bottom: 60px;
    }
}